{
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "jsx": true
    },
    "globals": {
        "jQuery": true,
        "$": false
    },
    "rules": {
        "semi": 2,
        "no-redeclare": 1
    }
}