{
  "plugins": [
    "stylelint-statement-max-nesting-depth"
  ],
  "extends": "stylelint-config-standard",
  "rules": {
    "statement-max-nesting-depth": [
      2,{ 
        countAtRules: false        
      }
    ],
  },
}